#app {
  /**
  * Home Page
  */
  .home-title {
    height: 80vh;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  /**
  * Work
  */
  #work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    .work-item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      padding: 46px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.9);
      -webkit-transition: ease-in-out 0.2s;
      transition: ease-in-out 0.2s;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(255,255,255,0.7);
      }
    }
  }

  /** Slider **/
  .swiper-slide {
    text-align: center;
    margin-bottom: 25px;
  }
  @media only screen and (min-width: 767px) {
    .swiper-slide .img-fluid {
      max-width: 90%;
      max-height: 90%;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    color: $white;
  }

  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px $black;
  }

  /**
  * About
  */
  .about-photo {
    border-radius: 15px;
  }
  .timeline::-webkit-scrollbar {
    display: none;
  }

  /** Timeline **/
  .timeline {
    position: relative;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: $white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
      z-index: -1;
    }
    @media only screen and (min-width: 769px) {
      &:after {
        left: 24%;
      }
    }
    .timeline-item {
      padding: 25px 0;
      .timeline-year {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin: auto;
        background-color: #ffffff;
        color: #202328;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.5rem;
        span {
          font-size: 1rem;
          line-height: 2rem;
        }
      }
      .timeline-description {
        height: 100%;
        @media only screen and (max-width: 768px) {
          margin: 30px 0;
          text-align: center;
          div {
            width: 100%;
            padding: 15px 0;
            background-color: $black;
          }
        }
      }
    }
  }
}